{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container{
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    font-size: 35px;
    font-style: italic;
    color: green;
    font-weight: bold;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: green;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: rgb(0, 123, 255);
}
:root {
    cor-principal: rgb(46,62,77);
    cor-secundaria: rgb(222, 228, 235);
}
nav{
    max-width: 500px;
    width: 100%;
    background-color: aquamarine;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li a {
    background-color: var(cor-principal);
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: all .3s;
}
nav ul li a:hover {
    background-color: var(cor-principal);
    color: var(cor-principal);
}