body{
    background-image: linear-gradient(#00000001, #00000063), url(<a href="https://im.ge/i/EhWM8F"><img src="https://i.im.ge/2023/12/10/EhWM8F.B-M-um-sonhador.th.jpg" alt="B &amp;amp; M um sonhador" border="0"></a>);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}